button{
    cursor: pointer;
}
img{
/*     border:1px solid black;
 */}
#labelenv{ 
  position:absolute;
/*   text-align:center;
 */
  padding-left:35%;
  bottom:10px;
  width:100%;
 }
#label{ 
  font-size:55px;
  background:black;
  color:white;
  padding:4px;
 }
#list{ 
  height:90%;
  margin-left:2%;
  margin-top:5%;
  position: relative;
  width:100%;
 }
#screen{
  background-color:rgba(255,255,255,0.7);
  border:1px solid black;
  margin-left:32%;
  margin-top:14%;
  width:55%;
  height:80%;
  position:absolute;
 }
iframe{ 
  overflow: hidden;
 }
.label{ 
  font-size:11px;
  text-align:center;
 }
.thumb{ 
  float:left;
  height:140px;
  margin-right:15px;
  width:120px;
 }