/* CSS Document */


/*
======================================================================================================
CSS Reset
======================================================================================================
*/

@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*vertical-align: baseline;*/
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol,
ul {
    list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
}

caption,
th {
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}


/*
======================================================================================================
Positioning of main containers
======================================================================================================
*/

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 62.5%;
    background: #fff url('?service=WebAsset&url=images/bg_body.jpg&contentType=image/jpg') repeat-x;
}

#container {
    width: 940px;
    margin: auto;
    padding: 0px;
    position: relative;
}

.popupContainer {
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #444;
    line-height: 1.2em;
}

#header .cleaner {
    display: none !important;
}

#content {
    float: left;
    width: 690px;
    position: relative;
    margin-left: 25px;
    margin-top: 70px;
    min-height: 40em;
    font-size: 1.2em;
    line-height: 1.4em;
}

#brux_innercontainer.mah_search #content {
    min-height: inherit;
}

.searchContent #content {
    padding-top: 3px;
}

#footer {
    background-color: #DFDFDF;
    border-top-color: #999999;
    border-top-style: solid;
    border-top-width: 1px;
    clear: both;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.2em;
    line-height: 1.4em;
    position: relative;
}


/*
======================================================================================================
Bruxelles Elements
======================================================================================================
*/


/* ------------ startpage ------------------*/

body.startPage {
    background: none;
}

#start {
    width: 940px;
    margin: 75px auto;
    font-size: 1.1em;
    background: url('?service=WebAsset&url=images/carmentis_logo.gif&contentType=image/gif') top center no-repeat;
    padding-top: 150px;
}

#start ul {
    padding-top: 2em;
}

#start li {
    padding: 0em;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0.5em;
    padding-bottom: 10px;
}

#start a {
    color: #00CCFF;
    text-decoration: none;
}

#start a:hover {
    color: #018ecd;
}

#start_footer {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    line-height: 1.5em;
    padding-top: 4em;
}


/* ------------ brux_header_elements ------------------*/

#brux_header {
    width: 100%;
    font-size: 1.2em;
}

#brux_header_print {
    width: 100%;
    font-size: 1.2em;
    display: none;
}

#brux_header h1 {
    margin: 0px;
}

#brux_header h1 span {
    display: none;
}

#brux_header h1 a {
    display: block;
    width: 355px;
    height: 30px;
    background: url('?service=WebAsset&url=images/kmkgFR.jpg&contentType=image/jpg') no-repeat left top;
}


/* ------------ brux_header_tabs ------------------*/

ul.primary-links li {
    display: block;
    float: left;
    width: 235px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

ul.primary-links li a {
    display: block;
    float: left;
    width: 235px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url(../images/bg_tabs.png) repeat-x left bottom;
    background: url('?service=WebAsset&url=images/bg_tabs.png&contentType=image/png') repeat-x left bottom;
    text-decoration: none;
    font-family: 'TheSerifRegular', Georgia, "Times New Roman", Times, serif;
    color: #FFF;
    font-size: 13px;
}

ul.primary-links li.menu-644 a {
    background-color: #0192D3;
}

ul.primary-links li.menu-651 a {
    background-color: #FF1200;
}

ul.primary-links li.menu-646 a {
    background-color: #75BC28;
}

ul.primary-links li.menu-645 a {
    background-color: #FF7000;
}


/* ------------ brux_header_languages ------------------*/

#block-locale-0 {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 10px;
}

#block-locale-0 ul {
    height: 30px;
    width: 575px;
    text-align: right;
}

#block-locale-0 ul li {
    display: inline;
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    margin-left: 10px;
    border-left: 1px solid #999;
}

#block-locale-0 ul li.first {
    padding: 0px;
    margin: 0px;
    border: none;
}

#block-locale-0 ul li a {
    color: #CCC;
    text-decoration: none;
}

#block-locale-0 ul li a.active {
    color: #FFF;
}

#brux_block_menu {
    clear: both;
    width: 940px;
    height: 30px;
    background-color: #00CCFF;
}


/* ------------ bruxelles_navigation_elements ------------------*/

#brux_box_navig_header {
    float: left;
    margin-left: 0px;
    width: 220px;
    position: relative;
}

#brux_navigation {
    float: left;
    width: 220px;
    line-height: 1.3em;
    padding-left: 0em;
    text-align: left;
    position: relative;
    margin-top: 0em;
}

#brux_innercontainer {
    width: 940px;
    margin: auto;
}


/*------------- navigation elements -----------------*/

#brux_navig_whitebar {
    height: 17px;
    background-color: #fff;
}

#brux_navig_title {
    height: 150px;
    background: url('?service=WebAsset&url=images/carmentis_logo.gif&contentType=image/gif') no-repeat 40px 0px;
}

#brux_nav {
    width: 220px;
    padding: 1em 0 0 0;
    text-align: left;
    border-bottom: 1px solid #fff;
}

#brux_nav a {
    color: #333;
    font-size: 1.4em;
    text-decoration: none;
    display: block;
    padding: 8px 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#brux_nav a:hover {
    background-color: #EEEEEE;
}

#brux_nav li.active a {
    background-color: #EEEEEE;
}

#brux_nav li {
    border-bottom: 1px solid #C7D2D4;
}

#brux_nav li.first {
    border-top: 1px solid #C7D2D4;
}


/*------------- footer elements -----------------*/

#footer-inner {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    position: relative;
}

#footer li {
    display: inline;
    margin-right: 20px;
}

#footer a {
    color: #333;
}

#footer a:hover {
    color: #333;
}

#footer #block-block-18 {
    float: right;
}

#footer #block-block-18 img {
    margin-left: 20px;
}

#footer #carmentis_disclaimer {
    position: absolute;
    top: 0px;
    left: 245px;
    width: 500px;
}

#helpInstruction {
    margin: 0 0 0 195px;
    font-size: 1.2em;
    padding-bottom: 5em;
    width: 500px;
}


/*------------- brux print icon -----------------*/

#brux_printicon {
    position: absolute;
    right: 2px;
    top: 3px;
}

.inlineModule #brux_printicon {
    display: none;
}


/*------------- back link -----------------*/

#brux_back {
    position: absolute;
    top: 30px;
    display: block;
    left: 646px;
    border: 1px solid #ccc;
    padding: 4px;
}

#container #brux_back a {
    text-decoration: none;
    color: #666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#brux_back a:hover {
    text-decoration: underline;
}

#brux_back::before {
    margin-right: 5px;
}

.inlineModule #brux_back {
    display: none;
}


/*
======================================================================================================
Redefining HTML-Tags
======================================================================================================
*/

a {
    color: #333;
    text-decoration: underline;
}

h3 a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    /*color:#000;*/
}

a.active {
    /*color:#000;*/
}

dl,
dt,
dd {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

dl dd {
    text-align: left;
    border: none;
}

dl dt {
    border: none;
}

#content h1 {
    color: #00CCFF;
    font-size: 20px;
    margin-bottom: 0.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    padding-bottom: 10px;
}

#brux_header_print h1 {
    padding-top: 15px;
    color: #333;
    font-size: 24px;
    margin-bottom: 0.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    padding-bottom: 10px;
}

#brux_nav .blueLink a {
    color: #00CCFF;
}

h2 {
    color: #333;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

img {
    border: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.radioGroup {
    margin: 0px;
    padding: 0px;
}

li {
    padding: 0px;
    margin: 0px;
}

#content ul li {
    line-height: 1.6em;
}


/*
Styles for forms
--------------------------------------------------------------------------------------------------
*/

.button {
    padding: 2px;
}

label {
    display: block;
    float: left;
}

label.inlineLabel {
    display: inline;
    clear: none;
    float: none;
    display: none;
}

label.inlineLabelFrom,
label.inlineLabelTo {
    display: inline;
    clear: none;
    float: none;
}

label.inlineLabelTo {
    padding-left: 1em;
}

.radioGroup label {
    display: inline;
    clear: none;
    float: none;
    text-align: left;
}

.checkboxGroup label {
    display: inline;
    clear: none;
    float: none;
    text-align: left;
}

fieldset {
    border: none;
}

fieldset.inlineFieldset {
    border: none;
    display: inline;
    margin: 0px;
    padding: 2px
}

legend {
    color: #333;
}

input,
select,
textarea {
    background-color: #FFFFFF;
    color: #555;
    border: 1px solid #ccc;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0.4em 0.2em;
}

select {
    padding-left: 0;
}

input.submitButton,
input.cancelButton,
input.resetButton {
    display: inline;
    padding: 1px;
}

input.text:focus,
select:focus,
textarea:focus {}

form p {
    margin: 0px;
    padding: 0px;
}

.formButton {
    text-align: right;
    padding: 5px 20px 0px 0px;
}

.formItem {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    clear: both;
}


/*
======================================================================================================
Styles shared accross containers and elements
======================================================================================================
*/

.cleaner {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}

.bottomspace {
    height: 2em;
    width: 10px;
}

.error {
    color: #FF1200;
}

.errorMessage {
    color: #FF1200;
    padding-bottom: 10px;
}

.infoMessage {
    color: #FF1200;
}

.highlight {
    font-weight: bold;
    color: #FF1200;
}

.inlineModule .highlight {
    font-weight: normal;
}

.hidden {
    position: absolute;
    left: -9999px;
    height: 0px;
    width: 0px;
}

.inlineFieldsetLegend {
    clear: both;
    display: block;
    float: left;
    padding: 4px 1px 1px 1px;
    text-align: left;
    width: 100px;
}

.message {
    padding-bottom: 5px;
}

.normal {
    font-weight: normal;
}

.disabled {
    color: #cccccc;
}

.highResBody {
    background-color: #fff;
}

.highResImage {}

.highResImage img {
    padding: 5px;
}


/*
======================================================================================================
=logo
======================================================================================================
*/


/*
======================================================================================================
=siteFunctions
======================================================================================================
*/


/* ---------- Site Search -----------*/

#siteFunctions {
    z-index: 100;
    width: 190px;
}

#siteSearchContainer {
    position: relative;
    padding: 0;
    margin: 0 0 0 0;
    float: left;
}

#siteSearch {
    margin: 0;
    padding: 0;
}

#siteSearchItems {
    margin: 0;
    padding: 10px 0px 5px 0px;
}

#siteSearchInput {
    width: 212px;
    margin: 0 0 .2em;
    border: 1px solid #ccc;
    padding: 0.4em 0.2em;
    margin: 0;
    background-color: #fff;
    font-size: 1.1em;
    color: #555;
}

#siteSearchButton {
    color: #00ccff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 30px;
    margin: 0.3em 0 0 187px;
    padding: 0.1em 0;
    border: none;
    background-color: #fff;
}

#siteSearchButton:hover {
    color: #000;
}

.siteSearchLabel {
    display: block;
    width: 220px;
    color: #00ccff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}


/*
======================================================================================================
=navigation
======================================================================================================
*/

#mainNav {}

#mainNav li.mainNavItem {}


/*
======================================================================================================
=header
======================================================================================================
*/


/*
	=title
	--------------------------------------------------------------------------------------------------
	*/

#title {
    display: none;
}


/*
	=moduleFunctions
	--------------------------------------------------------------------------------------------------
	*/


/*
		#moduleFunctionReference{display: none;}
		#moduleFunctions { width:12em; text-align:right; }
		#moduleFunctions li.moduleFunctionItem {  width:12em; margin-top:.4em; }
		#moduleFunctions li.moduleFunctionItem a{ display:block; padding: 0 1.5em 0 0; text-decoration: none; color:#7d6b46; background:url(xxx) no-repeat -10em 0; }
		#moduleFunctions li.moduleFunctionItem a:visited{ color:#7d6b46!important;}
		#moduleFunctions li.moduleFunctionItem a:hover{ text-decoration:none; background-position: 10.8em .3em; }
		#moduleFunctions li.moduleFunctionItem a.active { background:url(xxx) no-repeat 10.8em .3em; font-weight:bold; }
		#moduleFunctions li.moduleFunctionItem a.active:hover{ background:url(xxx) no-repeat 10.8em .3em; }
		#moduleFunctionResult{display: none;}*/


/*
======================================================================================================
=content
======================================================================================================
*/


/* -----------------------------------------------------------------------------------------------
	* Styles concerned with filter handling
	* -----------------------------------------------------------------------------------------------
	*/


/*
	.collectionContainer .filterSection {}

	.filterSection {
		position:relative;
		margin: 0px;
		padding: 0px;
		border-top: none !important;
		border-bottom: none !important;
		margin-bottom: 0.5em;
	}
	.filterSection form { padding:0px; margin:0px;}

	.filterGroupItem{padding-bottom: 0.5em; }

	.filterSection .filterGroupControl_list {padding:0; margin: 0; }
	.filterSection .filterGroupControl_list ul{margin: 0; padding: 0; }

	.filterSection legend {display: none;}

	.filterItem{margin: 0; padding: 0; float: left;}
	.filterItem a {
		margin: 0;
		font-size:1.0em;
		padding: 0.2em .4em;
		color:#c09250;
		text-decoration:none;
		background-color: #fff;
	}
	.filterItem a:hover {color:#333; background-color: #f2ede2;}
	.filterItem a:visited { color:#999999; border-bottom: #fff; color:#000;}
	.filterItem a.active { color:#333; background-color: #fff; font-weight: bold; }
*/


/* Site partner page */

#partnerContainer {
    font-size: 15px;
    margin-bottom: 5px;
}


/*
	--------------------------------------------------------------------------------------------------
	*/

#container .contextMenuContainer {
    position: relative;
    z-index: 100!important;
    display: block;
    width: 690px;
    font-size: 0.92em;
    border-top: 1px solid #fff;
    !important;
    /*height: 2.0em;*/
    padding-top: 0.1em;
    /*background-color: #e9d9c2;*/
    border-bottom: 1px solid #ccc;
}

#container .inlineModule .contextMenuContainer {
    border: none;
}

.bottomContextMenuContainer {
    border-top: 1px solid #fff;
}

#container .bottomContextMenuContainer .contextMenuContainer {
    border-bottom: none;
}

#container .detail {
    z-index: 50!important;
}

#container .contextMenu {
    position: relative;
}

#container .contextMenuContainer .menuItem {
    text-align: left!important;
}

#container .contextMenuContainer a,
#container .contextMenuContainer a:visited {
    color: #000;
}

#container .contextMenuContainer a:hover {
    color: #000;
    background: none;
}

#container li.dropdownMenu {
    display: block;
    float: left;
    position: relative;
    cursor: default;
    border: 1px solid #fff;
    margin: 0 .5em 0 0;
    padding-top: 0px;
    height: 21px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

#container .inlineModule li.dropdownMenu {
    font-weight: normal;
}

#container li.dropdownMenu ul {
    width: 16em;
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    background-color: #eeeeee;
    text-align: center;
    z-index: 1;
    margin-top: 1px;
    border-top: 1px solid #ccc;
}

#container .inlineModule li.dropdownMenuFromTo ul {
    border-top: none;
}

#container li.dropdownMenu ul li {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#container li.dropdownMenu ul li:hover {
    background-color: #cfeaf0;
}

#container li.dropdownMenu:hover ul {
    display: block;
}

#container li.dropdownMenu ul li a {
    display: block;
    width: 100%;
    font-weight: normal;
    padding: .2em 0 .15em .4em;
    text-decoration: none;
}

#container li.dropdownMenu .arrowDownButton {
    padding: 0px 3px 0px 6px;
    background: transparent url(?service=WebAsset&url=/images/button_down.gif&contentType=image/gif) no-repeat right;
}


/* --------------------- ELEMENT NAVIGATOR -------------------------------*/

#container .elementNavigatorLabel {
    padding: .2em 0.6em .2em 0;
}

#container .elementNavigator .menuItem {
    text-align: center!important;
}

#container .resultCount {
    margin: 0;
    padding: 0 0 0 .4em;
    font-size: 1em!important;
    color: #666;
    font-weight: bold;
}

#container li.elementNavigator {
    width: 5.2em;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 2px;
    float: right;
    display: block;
    border: none;
}


/*single numbers*/

#container li.dropdownMenu {
    z-index: 2!important;
}

#container li.elementNavigatorResultBox {
    z-index: 1!important;
    /*padding-top: 1px;*/
}

#container li.dropdownMenuFromTo {
    /*width: 7.4em;*/
    width: 8.2em;
}


/*from to numbers - must be wider*/

#container li.elementNavigator ul {
    width: 5.2em;
    margin-left: 1.5em;
    text-align: center;
    margin-top: 0px;
}

#container li.dropdownMenuFromTo ul {
    /*width: 7.4em;*/
    width: 8.2em;
    margin-left: 1.5em;
}

#container li.elementNavigator .elementNavigatorCurrent {
    float: left;
    width: 5.2em;
}

#container li.elementNavigator .elementNavigatorFromTo {
    text-align: left;
    /*width: 7.4em;*/
    width: 8.2em;
}


/* ---------- composite Element Navigator (eMP 5.5.1.2) ---------*/

#container .elementNavigatorResultBox {
    float: right;
    position: relative;
    width: 15em;
    display: inline;
    margin-right: 2.5em;
    height: 21px;
}

#container .inlineModule .elementNavigatorResultBox {
    margin-right: 0;
}

#container .bottomContextMenuContainer .elementNavigatorResultBox {
    margin-right: 0;
}


/*---------- new ks 2008-08-07 -------------------*/

#container .elementNavigatorResultBoxFromTo {
    float: right;
    position: relative;
    width: 18em;
    display: inline;
}

#container ul.elementNavigatorResult {
    float: left;
    display: block;
}

#container .inlineModule ul.elementNavigatorResult {
    float: right;
}

#container ul.elementNavigatorResult li {
    float: left;
    /*line-height: 1.95em; */
    line-height: 2em;
    /*line-height: 1.9em;*/
}

#container ul.elementNavigatorResult li.resultCount {
    float: right;
}

#container .inlineModule ul.elementNavigatorResult li.resultCount {
    font-weight: normal;
}

#container .elementNavigatorResultBox li.elementNavigator {
    float: left;
}

#container .elementNavigatorResultBox li.elementNavigator ul {
    margin-left: 0em;
}

#container .elementNavigatorResultBox li.dropdownMenuFromTo ul {
    margin-left: 0em;
}


/* ---------- END composite Element Navigator (eMP 5.5.1.2) ---------*/

#container li.elementNavigator ul li {
    text-align: center;
}

#container li.elementNavigator ul li a {
    display: block;
    text-align: center;
    padding: 0 0;
}

#container li.elementNavigator ul li a:hover {
    cursor: pointer;
}

#container li.elementNavigator ul li.elementNavigatorFromTo a {
    text-align: left;
}

#container .elementFrom {
    width: 3.4em;
    text-align: right;
    display: block;
    float: left;
    padding-right: 0.3em;
    margin-left: 0;
    padding-left: 0;
}

#container .elementNavigatorNext a:hover,
#container .elementNavigatorBack a:hover {
    /*color: transparent;*/
    text-decoration: none;
    color: #fff;
}

#container .elementNavigatorNext,
#container .elementNavigatorBack {
    float: left;
    width: 1.5em;
    color: #fff;
    text-decoration: none;
}

#container .contextMenu .elementNavigatorBack .arrowButton {
    background: #fff url(?service=WebAsset&url=/images/button_left_inactive.gif&contentType=image/gif) no-repeat 0.3em 0.5em;
    display: block;
    width: 1.5em;
    text-decoration: none;
    color: #fff;
}

#container .contextMenu .elementNavigatorBack a,
#container .contextMenu .elementNavigatorNext a {
    color: #fff;
    text-decoration: none;
}

#container .contextMenu .elementNavigatorBack a .arrowButton {
    background: #fff url(?service=WebAsset&url=/images/button_left.gif&contentType=image/gif) no-repeat 0.3em 0.5em;
    cursor: pointer;
}

#container .contextMenu .elementNavigatorBack a:hover .arrowButton {
    background: #fff url(?service=WebAsset&url=/images/button_left_hover.gif&contentType=image/gif) no-repeat 0.3em 0.5em;
}

#container .elementNavigatorNext .arrowButton {
    background: #fff url(?service=WebAsset&url=/images/button_right_inactive.gif&contentType=image/gif) no-repeat 0em 0.5em;
    display: block;
    width: 1.5em;
}

#container .elementNavigatorNext a .arrowButton {
    background: #fff url(?service=WebAsset&url=/images/button_right.gif&contentType=image/gif) no-repeat 0em 0.5em;
    cursor: pointer;
}

#container .elementNavigatorNext a:hover .arrowButton {
    background: #fff url(?service=WebAsset&url=/images/button_right_hover.gif&contentType=image/gif) no-repeat 0em 0.5em;
}

#container .disabled {
    color: #999;
    padding: 0;
    font-weight: normal;
}

#container .highlight {
    color: #666;
}

#container .inlineModule .contextMenuContainer ul li.contentSortings,
#container .inlineModule .contextMenuContainer ul li.contentViews {
    display: none;
}


/*
	= module view type stuff (prefix with .inlineModule to change settings for inline usage)
	--------------------------------------------------------------------------------------------------
	*/

.lightbox,
.detailList,
.simpleList,
.detail {
    width: 690px;
    padding-top: 2.0em;
    position: relative;
    display: block;
    min-height: 120px;
}

.detailList,
.simpleList {
    padding-top: 1.0em;
}

.lightbox {
    margin-bottom: 1em;
}


/*.referenceContainer .lightbox,
		.referenceContainer .detailList,
		.referenceContainer .simpleList,
		.referenceContainer .detail {padding-left: 0px; width: 553px;}*/


/*
	=simpleList simpleListItem (Simple List View)
	--------------------------------------------------------------------------------------------------
	*/


/*
		.simpleListItem { display:block; padding:0.1em 0 0 0; position: relative;
			border-top: 1px solid #e9d9c2; margin: 0;
		}
		#simpleListItem-0{border: none;}

		#content .simpleListItem .list_objectName {margin: 0; padding: 0;}
		#content .simpleListItem h3 {margin: 0; padding: 0;}
		#content .simpleListItem .list_identNr {margin: 0; padding: 0;}

		.simpleListItem dt,
		.simpleListItem dd { position:relative; }

		.simpleListItem .cleaner{}
		.simpleListPart1, .simpleListPart2, .simpleListPart3, .simpleListPart4{float: left; margin-right: 10px; margin-bottom: 0.5em; margin-top: 0.3em;}
		.simpleListPart4{margin-right: 0px;}
		.simpleListPart1{width: 180px; }
		.simpleListPart2{width: 220px; }
		.simpleListPart3{width: 90px; }
		.simpleListPart4{ width: 20px; text-align: right;}

		.simpleListPart1 br{display: none!important;}
		*/


/*
	=detailList detailListItem (Detail List View)
	--------------------------------------------------------------------------------------------------
	*/

.detailListItem {
    display: block;
    padding: 0.5em 0;
    position: relative;
    border-top: 1px solid #fff;
    /*background:url('?service=WebAsset&url=images/detail_line.gif&contentType=image/gif') no-repeat;*/
}

#detailListItem-0 {
    border-top: none;
    background: none;
}

.detailListItem .listImg {
    float: left;
    width: 120px;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.detailListItem .listImg img {
    width: 120px;
    height: 120px;
}

#content .detailListItem .listTitle {
    float: none;
    margin-left: 150px;
    width: 470px;
}

#content .detailListItem li {
    line-height: 1.4em;
}

.detailListItem h3 {
    margin: 0;
    font-weight: bold;
}

.detailLink {
    margin-top: 0.5em;
}

.detailLink a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.78em;
    padding-left: 21px;
    background: url('?service=WebAsset&url=images/arrow_detail.gif&contentType=image/gif') no-repeat 3px 2px;
}

.detailLink a:hover {
    color: #000;
    background: url('?service=WebAsset&url=images/arrow_detail_hover.gif&contentType=image/gif') no-repeat 3px 2px;
}

.detailListItem .cleaner {
    height: 1px;
    font-size: 1px;
    width: 565px;
    margin-left: 150px;
    border-bottom: 1px solid #C7D2D4;
}

.inlineModule .detailListItem {}

.inlineModule .detailListItem .cleaner {
    border: none;
}


/*
	=detail (Detail View Type)
	--------------------------------------------------------------------------------------------------
	*/


/*
		=detail content
		--------------------------------------------------------------------------------------------------
		*/

.detailItem {
    clear: both;
    position: relative;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.detailItem .detailImg {
    float: left;
    width: 220px;
    padding-top: 5px;
}

.detailItem .listImg img {}

.detailItem .detailCaption {
    position: relative;
    float: left;
    width: 450px;
    margin-left: 20px;
}

.detailItem .detailCaption li {
    position: relative;
    border-bottom: 1px solid #C7D2D4;
    padding: 0.1em 0;
}

.detailItem .detailCaption li.collectionName {
    padding-top: 0;
}

.detailItem .detailCaption li.bookmark {
    padding: 0.5em 0;
}

.detailItem .tspValue {
    float: left;
    width: 300px;
}

.detailItem .tspEnd {
    clear: both;
    display: block;
}

.collectionName .tspPrefix,
.researchProject .tspPrefix,
.period .tspPrefix,
.repositoryLocation .tspPrefix,
.legalRightOwner .tspPrefix,
.inventoryNb .tspPrefix,
.objectName .tspPrefix,
.objectTitle .tspPrefix,
.material .tspPrefix,
.technique .tspPrefix,
.dating .tspPrefix,
.geography .tspPrefix,
.objectClassification .tspPrefix,
.objectCulture .tspPrefix,
.objectArtists .tspPrefix,
.dimensions .tspPrefix,
.partner .tspPrefix,
.inscription .tspPrefix,
.entryReason .tspPrefix {
    color: #666666;
    padding-right: 15px;
    width: 120px;
    display: block;
    float: left;
}

.bookmark label {
    width: 120px;
    padding-right: 15px;
    color: #666666;
}

.bookmark input {
    width: 300px;
    font-size: 0.92em;
}

.bookmark form {
    margin: 0;
    !important
}

#content .detailItem .detailCaption li.portfolioLink,
#content .detailItem .detailCaption li.comment,
#content .detailItem .detailCaption li.phtography {
    border-bottom: 1px solid #fff;
    padding-left: 135px;
    padding: 0 0 0 135px;
}

#content .detailItem .detailCaption li.portfolioLink {
    padding-top: 1em;
}

.detailItem .comment a,
.detailItem .phtography a {
    color: #666;
    font-size: 0.78em;
    font-weight: bold;
    line-height: 1.4em;
    text-decoration: none;
    /*background:url('?service=WebAsset&url=images/bullet.gif&contentType=image/gif')no-repeat 5px 2px;*/
    padding-left: 20px;
    padding-bottom: 0.5em;
    display: block;
    background-image: url('?service=WebAsset&url=images/bullet.gif&contentType=image/gif');
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.detailItem .objectName .aat a,
.detailItem .geography .tgn a {
    margin-top: 4px;
    margin-left: 5px;
    text-decoration: none;
}


/*
		=references Tab
		--------------------------------------------------------------------------------------------------
		*/

.referenceContainer {
    margin-top: 40px;
    clear: both;
    position: relative;
    border: none;
    display: block;
    float: left;
    width: 100%;
}

.referenceTabItemActive,
.referenceTabItem:hover {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-bottom: 0px;
    moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.referenceTabItem {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.referenceTabItem,
.referenceTabItemActive {
    float: left;
    margin-right: 5px;
    padding: 0 10px;
    font-size: 0.9em;
}

.referenceTabItem a,
.referenceTabItemActive a {
    display: block;
    float: left;
    padding: .5em 0em 0.3em 0em;
    color: #00ccff;
    text-decoration: none;
    font-weight: bold;
}

.referenceTabItem a:visited,
.referenceTabItemActive a:visited {
    color: #00ccff;
}

.referenceTabItem a:hover,
.referenceTabItemActive a:hover,
.referenceTabItem a.active,
.referenceTabItemActive a.active {
    color: #333;
    font-weight: bold;
}

.referenceTabItem a:visited,
.referenceTabItemActive a:visited {}

.referenceTabItem a.active:visited,
.referenceTabItemActive a.active:visited {
    color: #333;
}

.referenceTabItem a.active:hover,
.referenceTabItemActive a.active:hover {
    color: #333;
}


/*
		=references: References Container (contains Inline Modules)
		--------------------------------------------------------------------------------------------------
		*/

.referenceContainer .reference {
    display: block;
    float: left;
    padding: 0em 0em 2em;
    border-top: 1px solid #cccccc;
    width: 100%;
}

.referenceContainer .reference .caption {
    padding: 0;
    margin: 0;
}

.reference p {
    padding: 1em 0em;
    margin: 0;
    text-align: left;
}

.referenceContainer .reference .caption p .tspReferenceLinkList .tspValue {
    display: block;
}


/*
	=lightbox
	--------------------------------------------------------------------------------------------------
	*/


/*lightbox */

.lightboxItem {
    display: block;
    float: left;
}

#content .lightboxItem ul.listText li {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
}

#content .lightboxItem ul.listText li.listButton {
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding: 0;
}

#content .lightboxItem ul.listText {
    padding-top: 0.3em;
}

.lightboxTextListItem {
    padding: 0;
    margin: 0;
}

.lightboxItem li {
    padding: 0;
    margin: 0;
}

.lightboxTextListItem li {
    padding: 0.1em 0;
    margin: 0;
}

.lightboxGroupItem {
    display: block;
    float: left;
    width: 100%;
}

.lightboxItem h3 {
    margin: 0;
}

.lightboxGroupItem {
    border-bottom: 1px solid #C7D2D4;
    padding-bottom: 5px;
}

.inlineModule .lightboxGroupItem {
    border: none;
}


/*
	=lightbox links
	--------------------------------------------------------------------------------------------------
	*/

.lightboxItem a {}

.lightboxItem a:hover {}

.listImg a {}


/*
	=lightbox_1x1
	--------------------------------------------------------------------------------------------------
	*/


/*
	#lightbox_1x1 {left: 0px; width: 560px;}
	#lightbox_1x1 .lightboxItem { width:350px; margin:0px 0px 0px 0px}
	#lightbox_1x1 .lightboxItem .lightboxImageListItem,
	#lightbox_1x1 .lightboxItem .lightboxImageListItem img { width: 350px; height:350px;}
	#lightbox_1x1 .lightboxItem .lightboxTextListItem { width: 350px; height:140px; }
	*/


/*
	=lightbox_1x2
	--------------------------------------------------------------------------------------------------
	*/


/*
	#lightbox_1x2 .lightboxItem { width:259px; margin:0px 20px 0px 0px; height: 400px;}
	#lightbox_1x2 .lightboxItem .lightboxImageListItem,
	#lightbox_1x2 .lightboxItem .lightboxImageListItem img { width: 259px; height:259px;}
	#lightbox_1x2 .lightboxItem .lightboxTextListItem {  width: 259px; height:140px;}
	#lightbox_1x2 #lightboxItem_1{margin-right: 0px;}
	*/


/*
	=lightbox_2x3
	--------------------------------------------------------------------------------------------------
	*/


/*
	#lightbox_2x3 .lightboxItem { margin:10px 40px 5px 0em; }
	#lightbox_2x3 .listImg img { width:170px;}
	#lightbox_2x3 .lightboxTextListItem { width:170px;}
	#lightbox_2x3 .lightboxImgInnerContainer { width:170px;}
	#lightbox_2x3 #lightboxItem-2, #lightbox_2x3 #lightboxItem-5 {margin-right: 0px;}
	*/


/*
	=lightbox_3x4
	--------------------------------------------------------------------------------------------------
	*/

#lightbox_3x4 .lightboxItem {
    margin: 10px 30px 5px 0em;
}

#lightbox_3x4 .listImg img {
    width: 150px;
}

#lightbox_3x4 .lightboxTextListItem {
    width: 150px;
}

#lightbox_3x4 .lightboxImgInnerContainer {
    width: 150px;
}

#lightbox_3x4 #lightboxItem-3,
#lightbox_3x4 #lightboxItem-7,
#lightbox_3x4 #lightboxItem-11 {
    margin-right: 0px;
}


/*
	=lightbox_4x5
	--------------------------------------------------------------------------------------------------
	*/

#lightbox_4x5 .lightboxItem {
    margin: 10px 22px 5px 0em;
}

#lightbox_4x5 .listImg {
    width: 120px;
    height: 120px;
}

#lightbox_4x5 .listImg img {}

#lightbox_4x5 .lightboxTextListItem {
    width: 120px;
}

#lightbox_4x5 .url {
    display: none;
}

#lightbox_4x5 .lightboxImgInnerContainer {
    width: 120px;
}

#lightbox_4x5 #lightboxItem-4,
#lightbox_4x5 #lightboxItem-9,
#lightbox_4x5 #lightboxItem-14,
#lightbox_4x5 #lightboxItem-19 {
    margin-right: 0px;
}


/*
	= Plus de fichiers / manually generated HTML from the Synchronizer
	--------------------------------------------------------------------------------------------------
	*/

#collectionReferences-captionBlock>div>p {
    padding-top: 50px;
}

#collectionReferences-captionBlock>div>p>span.tspValue>a>img {
    padding-right: 20px;
    float: left;
}


/*
	=TSP styles (overriding other styles)
	-------------------------------------------------------------------------------------------------
	*/

#lightbox_1x1 .listImg img.tspMimeTypeIcon,
#lightbox_1x2 .listImg img.tspMimeTypeIcon,
#lightbox_2x3 .listImg img.tspMimeTypeIcon,
#lightbox_3x4 .listImg img.tspMimeTypeIcon,
#lightbox_4x5 .listImg img.tspMimeTypeIcon,
.listImg img.tspMimeTypeIcon {}


/*
	Portfolio Element Handler
	-------------------------------------------------------------------------------------------------
	*/

.tspPortfolioElementHandler {
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #fff;
    !important
}

.tspPortfolioElementHandler_image {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.tspPortfolioElementHandler img {}

.tspPortfolioElementHandler a {
    text-decoration: none;
}

.tspPortfolioElementHandler_text:hover {
    /*color:#000;*/
}

.tspPortfolioElementHandler_text {
    font-weight: bold;
    color: #666;
    font-size: 0.78em;
    display: block;
    padding-left: 20px;
}

.detailItem .tspPortfolioElementHandler_image {
    top: 3px;
}


/*
=loginForm
--------------------------------------------------------------------------------------------------
*/


/*
	#loginForm { margin:5px; padding:10px 0px 10px 0px; }
	#loginForm fieldset { border:solid 1px #ccc; margin-top:14px; width:307px; padding:7px; }
	#loginForm fieldset legend { margin-bottom:0px; }
	#loginForm .formItemsContainer { padding-top:7px; }
	#loginForm input.text { width:200px; }
	#loginForm .formItem label { width:80px; }
	*/


/*
=editForm
--------------------------------------------------------------------------------------------------
*/


/*
	.editForm fieldset { border:none; }
	.editForm legend { display:none; }
	.editForm .formItem { padding:5px; height:13px;}
	.editForm .formButton { width: 630px; padding:5px; }
	.editForm .formButton input { padding-right:10px; padding-left:10px; }
	.editForm .formItem label { position:absolute; width:120px; left: 5px; }
	.editForm .formItem div.text { position:absolute; left:130px; }
	.editForm .text input,
	.editForm .text select { width:500px; }
	*/


/*
=searchForm
--------------------------------------------------------------------------------------------------
*/

.searchForm {
    font-size: 1.0em;
    padding: 2em 0 1em 0;
    width: 600px;
    border-top: 1px solid #ccc;
    margin-top: 0.3em;
}

.searchForm fieldset.searchFulltext {
    padding: 0 0 10px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.searchForm fieldset.searchFulltext span {
    float: left;
    font-size: 10px;
    margin-top: 2px;
}

.searchForm .formItem {
    padding-bottom: 1em;
}

.searchForm fieldset.searchItems {
    padding: 1em 0 0 0;
    margin: 0;
}

.searchForm label {
    width: 130px;
    font-size: 1.0em;
    text-align: left;
    padding: 0 10px 2px 0;
    margin: 0;
    line-height: 1em;
    color: #000000;
}

.searchForm legend {
    display: none;
}

.searchForm input.text {
    width: 406px;
    font-size: 0.9em;
}

.searchForm .inlineFieldset {
    padding-top: 0.1em;
    padding-left: 0;
}

.searchForm .inlineFieldsetLegend {
    width: 130px;
    font-size: 1.0em;
    padding-top: 0.1em;
    text-align: left;
    padding-right: 10px;
    color: #000000;
}

.searchForm input.textSmall {
    width: 6em;
    display: inline;
    margin-top: 0em;
    font-size: 0.9em;
}

.searchForm select {
    width: 414px;
    font-size: 0.9em;
    padding: 0.2em;
}

.searchForm option {
    padding: 0.1em 0;
}

.searchForm select.selectCombined {
    /*width:19.7em;*/
}

.searchForm input.textCombined {
    width: 20em;
    display: inline;
}

.searchForm .formButton {
    width: 553px;
    margin-top: 1em;
    padding: 1em 0em 1em 0;
}

.searchForm .resetButton {}

.searchForm .infoMessage {
    padding-bottom: 1.5em;
}

#searchForm .resetButton {
    padding-right: 10px;
}

.searchForm .startButton a,
.searchForm .resetButton a {
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.searchForm .startButton a {
    color: #fff;
    border-top: 1px solid #27d4ff;
    border-right: 1px solid #00aad4;
    border-bottom: 1px solid #00aad4;
    border-left: 1px solid #27d4ff;
    background-color: #00ccff;
    padding: 3px 12px 3px 12px;
}

.searchForm .resetButton a {
    background-color: #999;
    color: #fff;
    border-top: 1px solid #a9a9a9;
    border-right: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    border-left: 1px solid #a9a9a9;
    padding: 3px 8px 3px 8px;
}

.searchForm .startButton {
    padding-right: 0px;
}

.searchForm .startButton a:hover,
.searchForm .resetButton a:hover {
    color: #fff;
    border-top: 1px solid #289fd5;
    border-right: 1px solid #0176aa;
    border-bottom: 1px solid #0176aa;
    border-left: 1px solid #289fd5;
    background-color: #018ecd;
}


/* vvvvvvvvvvvvvvvvvv Smart Search Field stuff vvvvvvvvvvvvvvvvvvvvvv */

.searchForm .smartFieldItem {
    height: 2em;
}

.searchForm .smartFieldLabel {
    width: 130px;
    float: left;
}

.searchForm .smartFieldContainer input {
    height: 18px;
    margin-bottom: 2px;
    /*width: 314px;*/
    width: 360px;
    border: 1px solid #ccc;
}

.searchForm .smartFieldContainerOuter {
    position: relative;
    /*top: 0px; left: 0px; right: 0px; bottom: 0px;*/
    float: left;
    /*width: 358px;*/
    width: 404px;
}

.smartFieldItem .cleaner {
    width: 10px;
    height: 1px;
    background-color: #fff;
    display: none;
}

.searchForm .smartDropdownThesaurusItem .smartFieldContainer .smartFieldThesaurusButton {
    margin-left: 10px;
}

.x-form-field-wrap .x-form-trigger {
    /*background-image:url('?service=WebAsset&url=images/trigger.gif&contentType=image/gif'); border-bottom-color:#ddd;*/
}

.x-form-field {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #555;
}

.x-form-text,
textarea.x-form-field {
    background: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.mpComboBox-item {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #555;
    padding: 2px 3px 2px 3px;
    border: 1px solid #fff;
    white-space: normal;
    overflow: auto;
    /*text-overflow:ellipsis;*/
    background-color: #FFFFFF;
}

.mpComboBox-item-selected {
    background: #DFE8F6 none repeat scroll 0 0;
    border: 1px dotted #A3BAE9 !important;
    cursor: pointer;
}

.mpComboBox-item-highlight {
    font-weight: bold;
}

.mpThesaurusDialog {
    z-index: 500;
}

.mpThesaurusDialogBody {
    border: solid 1px #CCCCCC;
}

.mpThesaurusDialogButtonPanel {
    align: right;
    background: #E3E8F3;
    margin-top: 3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -3px;
}

.modalBackgroundStyle {
    visibility: visible;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    /*position: absolute;*/
    position: fixed;
    z-index: 499;
    border-style: none;
}

.my-tree-close {
    background: url(?service=WebAsset&url=images/joint-close.gif&contentType=image/gif) no-repeat 0px 0px;
}

.my-tree-open {
    background: url(?service=WebAsset&url=images/joint-open.gif&contentType=image/gif) no-repeat 0px 0px;
}

.my-tree-joint-over .my-tree-close {
    background: url(?service=WebAsset&url=images/joint-close.gif&contentType=image/gif) no-repeat 0px 0px;
}

.my-tree-joint-over .my-tree-open {
    background: url(?service=WebAsset&url=images/joint-open.gif&contentType=image/gif) no-repeat 0px 0px;
}

.tree-folder,
.tree-folder-open {
    /* display:none; */
    background: url(?service=WebAsset&url=images/leaf.gif&contentType=image/gif) no-repeat 0px 0px;
}

.my-tree-over .my-tree-icon div,
.my-tree-sel .my-tree-icon div,
.my-tree-icon div {
    background: url(?service=WebAsset&url=images/leaf.gif&contentType=image/gif) no-repeat 0px 0px;
}

.my-tree-loading .tree-folder {
    background: url(?service=WebAsset&url=images/wait.gif&contentType=image/gif) no-repeat 0px -1px !important;
}


/*^^^^^^^^^ End Smart Search Field Stuff ^^^^^^^^^^^^^^*/


/* -----------------------------------------------------------------------------------------------
* Style for ExternalReference page -
* The page is using IFrame element to display content from external URL
* -----------------------------------------------------------------------------------------------
*/

.externalReferenceFrame {
    height: 650px;
    width: 631px;
}


/* --------------
 * Custom Class: Search Help
 * --------------
 */

.searchHelp {
    display: inline;
}

.searchHistoryLink,
.searchTips {
    position: relative;
    display: inline;
    margin-left: 1em;
    z-index: 100;
}

.searchHelp a,
.searchHistoryLink a,
.searchTips a {
    font-size: 0.92em;
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.searchHelp a:hover,
.searchHistoryLink a:hover,
.searchTips a:hover {
    color: #000;
}

#searchTipps {
    display: block;
    /*width: 200px; float: right; padding-top: 30px;*/
    margin-left: 220px;
    font-size: 1.1em;
    width: 700px;
}

#searchTipps h3 {
    font-weight: bold;
    margin: 0;
    padding: 1em 0;
}

#searchTipps ul {
    list-style: inside;
    list-style: circle;
    padding: 0;
    padding-left: 15px;
}

#searchTipps li {
    padding: 0.2em 0;
}

#searchTipps p {
    /*margin: 0;*/
}


/* ---------------------
 * Search History Styles
 * ---------------------
 */

#searchHistoryPopupContainer {
    width: 100%;
    font-size: 1.1em;
    background-color: #fff;
    padding: 1em 0 3em 0;
}

#searchHistoryPopupContainer h3 {
    padding-left: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

#searchHistoryPopupContainer table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

#searchHistoryPopupContainer table.searchHistoryTable {
    width: 90%;
}

#searchHistoryPopupContainer .searchHistoryTable td,
#searchHistoryPopupContainer .searchHistoryTable th {
    padding: 0.2em;
    vertical-align: top;
}

#searchHistoryPopupContainer .unFramed {
    width: 2em;
}

#searchHistoryPopupContainer .framed {
    border: 1px solid #999;
}

#searchHistoryPopupContainer .histFieldValueList td {
    padding: 0.1em;
}

#searchHistoryPopupContainer .histFieldValueList .histFieldLabel {
    width: 15em;
    font-weight: bold;
}

#searchHistoryPopupContainer .histResultCount {
    width: 7em;
}

#searchHistoryPopupContainer .histResultCount {
    font-weight: bold;
}

#searchHistoryPopupContainer .histDate {
    width: 12em;
}

.control {
    display: none;
}

.printonly {
    display: none;
}


/* Misc */


/* Load images locally */


/*
body{background-image:url(../images/bg_body.jpg);}
#brux_header h1 a {background-image:url(../images/kmkgFR.jpg);}
ul.primary-links li a {background-image:url(../images/bg_tabs.png);}
#brux_navig_title{background-image:url(../images/carmentis_logo.gif);}

#start {background-image:url(../images/carmentis_logo.gif);}
#brux_home { background-image:url(../images/blokjes04.gif);}
#brux_title { background-image:url(../images/title_box.gif);}
#container li.dropdownMenu .arrowDownButton {background-image:url(../images/button_down.gif);}
#container .contextMenu .elementNavigatorBack  .arrowButton {background-image: url(../images/button_left_inactive.gif);}
#container .contextMenu .elementNavigatorBack a .arrowButton {background-image: url(../images/button_left.gif);}
#container .contextMenu .elementNavigatorBack a:hover .arrowButton {background-image: url(../button_left_hover.gif);}

#container .elementNavigatorNext .arrowButton {background-image: url(../images/button_right_inactive.gif);}
#container .elementNavigatorNext a .arrowButton {background-image: url(../images/button_right.gif);}
#container .elementNavigatorNext a:hover .arrowButton {background-image: url(../images/button_right_hover.gif);}
.detailLink a{background-image: url(../images/arrow_detail.gif);}
.detailLink a:hover{background-image: url(../images/arrow_detail_hover.gif);}
.detailItem .comment a{background-image: url(../images/bullet.gif);}
.detailItem .phtography a{background-image: url(../images/bullet.gif);}
*/


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #C7D2D4;
    line-height: 1.6em;
    padding: 0.1em 0;
    width: 100%;
}

.geography .tooltip {
    width: auto;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover>.tooltiptext {
    visibility: visible;
    opacity: 1;
}

.iconKeyword {
    list-style: none;
}

.iconKeyword iframe {
    width: 220px;
    height: auto;
    margin-top: 25px;
}