/** To be defined CSS-Print **/

/* Disable areas */

/*Header */

body{background: #fff;}
#container {background: none; margin-left: 0; border: 1px solid #fff; width: 700px;}
#content{margin-left: 0px; width: 700px; margin-top: 0px;}

#brux_innercontainer{width: 700px;}
#brux_header{display: none;}
#brux_header_print{display: block;}

#brux_box_navig_header{display: none;}
#brux_lang{display: none;}
#brux_logo img{margin-left: -15px;}
#brux_home{display: none;}
#brux_title{background: none;}
#title_carmentis{margin: 0;}
#brux_header{border-bottom: none;}

#container .contextMenuContainer{display: none;}

.lightbox,
.detailList,
.simpleList,
.detail { width: 700px;}

#lightbox_3x4 .listImg img { width:145px;}
#lightbox_3x4 .lightboxTextListItem { width:145px;}
#lightbox_3x4 .lightboxImgInnerContainer { width:145px;}

#lightbox_4x5 .listImg img { width:115px; height:115px;}
#lightbox_4x5 .lightboxTextListItem { width:115px; }
#lightbox_4x5 .lightboxImgInnerContainer { width:115px; }

#footer{display: none;}

.listButton{display: none;}
.detailListItem .cleaner{width: 550px;margin-left: 150px;}

.printonly{display: inline;}


.detailItem .detailCaption{position: relative; float: left; width: 435px; margin-left: 20px;}

.detailItem .detailCaption li.portfolioLink{display: none;}
.detailItem .detailCaption li.comment{display: none;}
.detailItem .detailCaption li.phtography{display: none;}
.detailItem .detailCaption li.bookmark{margin-left: -240px; border-bottom: 1px solid #fff;}

.bookmark input{width: 660px; font-size: 0.8em; background-color: #fff; border: 1px solid #fff; padding-left: 0px; letter-spacing: -0.5px;}

