<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>animations</title>
	<style type="text/css">
		body {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 1.2em;
			line-height: 1.4em;
		}
		#animations .animation {
			display: inline-block;
		}
		.animation .thumb img {
			max-width: 320px;
		}
	</style>
</head>
<body>

<div class="paginator">
	<a href="{% url 'index' %}">HOME</a>
    {% if animations.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ animations.previous_page_number }}&o={{o}}">previous</a> 
	{% endif %}
	<span class="current">Page {{ animations.number }} of {{ animations.paginator.num_pages }}.</span>
	{% if animations.has_next %}
    <a href="?page={{ animations.next_page_number }}">next</a>
    <a href="?page={{ animations.paginator.num_pages }}">last &raquo;</a>
	{% endif %}
</div>

<div id="animations">
{% for a in animations %}
<div class="animation">
	{% if a.firstcell %}
	<div class="thumb">
		<a href="{% url 'animation' a.id %}">
			<img src="{{a.firstcell.trimmed.url}}" />
		</a>
	</div>
	{% endif %}
	<div class="info">
		<span class="time">{{a.time}}</span>
		<span class="item">{% if a.item %}<a href="{%url 'item' a.item.id %}">{{a.item.inventoryNb}}</a>{% else %}&mdash;{%endif%}</span>
		<span class="cellcount">{{a.cells.count}} cells</span>
	</div>
</div>
{% endfor %}

<div class="paginator">
	<a href="{% url 'index' %}">HOME</a>
    {% if animations.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ animations.previous_page_number }}&o={{o}}">previous</a> 
	{% endif %}
	<span class="current">Page {{ animations.number }} of {{ animations.paginator.num_pages }}.</span>
	{% if animations.has_next %}
    <a href="?page={{ animations.next_page_number }}">next</a>
    <a href="?page={{ animations.paginator.num_pages }}">last &raquo;</a>
	{% endif %}
</div>

</body>
</html>