<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<style type="text/css">
	#display {
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
	}
	#display #caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #00000088;
		color: white;
		padding: 10px;
		z-index: 2;
		font-size: 36px;
	}
	#data {
		display: none;
	}
	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	#progress {
		width: 100%;
	}
</style>
</head>
<body>
<div id="display">
	<progress id="progress"></progress>
	<canvas id="canvas"></canvas>
	<div id="caption"></div>
</div>

<div id="data">
{% for cell in animation.cells_in_order %}
	<div class="cell">
	{% if cell.trimmed %}<a class="trimmed" href="{{cell.trimmed.url}}" />{{cell.trimmed.url}}</a>{%endif%}
	{% if cell.sketch_annotation %}<div class="caption">{{cell.sketch_annotation_label}}</div>{% endif %}
	</div>
{% endfor %}
</div>

<script>
const wait = ms => new Promise(resolve => setTimeout(resolve, ms));
let img = document.querySelector("#display .image"),
	captiondiv = document.querySelector("#display #caption"),
	canvas = document.querySelector("#canvas"),
	ctx = canvas.getContext("2d");

function loadImage(src) {
	return new Promise((resolve, reject) => {
	    var image = new Image();
	    image.src = src;
	    image.onload = function() {
	      // console.log("loaded image: "+src);
	      resolve(image);
	    };
	    image.onerror = function(e) {
	      reject(e);
	    };
	})
}

function fit_size (iw, ih, bw, bh) {
    let w = bw,
        h = Math.round((ih/iw) * w);
    if (h > bh) {
	    h = bh;
	    w = Math.round((iw/ih) * h)
    }
    return {w: w, h: h, x: (bw-w)/2, y: (bh-h)/2}
}

function show_cell (c) {
	// console.log("show_cell", c);
	let width = window.innerWidth,
		height = window.innerHeight,
		fit = fit_size(c.img.width, c.img.height, width, height);
	// console.log("width", "heigth", width, height, fit);
 	ctx.canvas.width  = width;
  	ctx.canvas.height = height;
  	ctx.drawImage(c.img, fit.x, fit.y, fit.w, fit.h);
	captiondiv.innerHTML = "is it a " + c.caption + "?";
}

async function run () {
	var progress = document.querySelector("#progress");
	var cells = document.querySelectorAll("div.cell");
	if (cells.length == 0) { return ; }
	progress.max = cells.length;
	progress.value = 0;
	cells = Array.prototype.slice.apply(cells);
	// dataify
	cells = cells.map(x=>({
		'src': x.querySelector("a.trimmed").href,
		'caption': x.querySelector("div.caption").innerHTML			
	}));
	// console.log("cells", cells);
	
	// preload images
	// console.log("preloading images");
	for (var i=0; i<cells.length; i++) {
		cells[i].img = await loadImage(cells[i].src);
		// console.log(`loaded ${i+1}/${cells.length}`);
		progress.value = i+1;
	}
	progress.remove();

	if (window.location.toString().indexOf("?") >= 0) {
		// start with the last frame, then loop
		show_cell(cells[cells.length-1]);
		// preload next image(s) ?!?!
		await wait(5000);
	}
	while (1) {
		
		for (var i=0; i<cells.length; i++) {
			show_cell(cells[i]);
			await wait(1000);
		}
	}
	
}
run();
</script>
</body>
</html>
