<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		img {
			width: 320px;
		}
		.paginator {
			background: black;
			color: gray;
			font-size: 18px;
			display: inline-block;
			padding-left: 1em;
			padding-right: 1em;
		}
		.paginator .current {
			color: white;
		}
		.paginator a {
			text-decoration: none;
			color: white;
		}
	</style>
</head>
<body>

<div class="paginator">
	{% if cells.has_previous %}
    <a href="?i=1">&larrb;</a>
    <a href="?i={{ cells.previous_page_number }}">&larr;</a>
    {% else %}
    &larrb; &larr;
	{% endif %}
	<span class="current">{{ cells.number }}/{{ cells.paginator.num_pages }}</span>
	{% if cells.has_next %}
    <a href="?i={{ cells.next_page_number }}">&rarr;</a>
    <a href="?i={{ cells.paginator.num_pages }}">&rarrb;</a>
    {% else %}
    &rarr; &rarrb;
	{% endif %}
</div>

{% for cell in cells %}
<div>item: {%if cell.item %}<a href="{% url 'item' cell.item.id %}">{{cell.item.id}}</a>{% else %}&mdash;{% endif %}</div>
<div id="original">
original:<br>
<img src="{{cell.original.url}}" />
</div>
<div>
trimmed:<br>
{% if cell.trimmed %}<img src="{{cell.trimmed.url}}" />{%else %}&mdash;{%endif%}
</div>
<div>
sketch: {{cell.sketch_annotation}}
</div>
{% if cell.animation %}
animation: <a href="{%url 'animation' cell.animation.id %}">{{cell.animation.id}}</a>
{% endif %}
{% endfor %}



</body>
</html>