<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		img {
			max-width: 320px;
			max-height: 320px;
		}
	</style>
</head>
<body>
<div id="original">
original: <img src="{{cell.original.url}}" />
</div>
<div>item: {%if cell.item %}{{cell.item.id}}{% else %}&mdash;{% endif %}</div>
<div>
trimmed: {% if cell.trimmed %}<img src="{{cell.trimmed.url}}" />{%else %}&mdash;{%endif%}
</div>
<div>
sketch: {{cell.sketch_annotation}}
</div>
<a href="{% url 'cell_annotate' cell.id %}">ANNOTATE</a>
</body>
</html>