<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<form action="" method="post">
{%csrf_token %}
{{form.as_p}}
<input type="submit" value="upload">
</form>
</body>
</html>
