<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<ul>
{% for c in cells %}
<li><a href="{% url 'cell' c.id %}">{{c.id}}</a></li>
{% endfor %}
</ul>

<p>
<a href="{% url 'cell_post' %}">UPLOAD CELL</a>
</p>
</body>
</html>