{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Application: eMuseumPlus -->
<!-- Page: ResultLightboxView -->
<!-- Generated: Wed Oct 09 10:04:10 CEST 2019 -->
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta name="generator" content="Tapestry Application Framework, version 3.0.2">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{item.objectName}}</title>
<!-- Version: 5.5.1.43 -->
<!-- $EMP$MODULE name="collection" -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="gwt:property" content="locale=en_US">
<link rel="stylesheet" type="text/css" href="{% static 'sketchy/resources/sketchy-index_files/sketchy-highlight_data/eMuseumPlus.css' %}">
<link rel="icon" href="https://carmentis.be/eMP/eMuseumPlus?service=WebAsset&amp;url=/favicon.ico&amp;contentType=image/x-icon">
<link rel="shortcut icon" href="https://carmentis.be/eMP/eMuseumPlus?service=WebAsset&amp;url=/favicon.ico&amp;contentType=image/x-icon">
<script type="text/javascript" async="" src="sketchy-highlight_data/ga.js"></script><script type="text/javascript" async="" src="sketchy-highlight_data/ga.html"></script><script src="sketchy-highlight_data/eMuseumPlus_002.asc" type="text/javascript"></script>
<script src="sketchy-highlight_data/eMuseumPlus.html" type="text/javascript"></script>
<script src="{% static 'sketchy/resources/sketchy-index_files/sketchy-highlight_data/jquery-3.js' %}"></script>
<!-- Fancybox -->
<link rel="stylesheet" href="{% static 'sketchy/resources/sketchy-index_files/sketchy-highlight_data/jquery.css' %}">
<link rel="stylesheet" id="font-awesome-css" href="sketchy-highlight_data/font-awesome.css" type="text/css" media="all">
</head>
<body  style="background-image:url({% static 'sketchy/eMuseumPlus-tile.jpg' %});background-repeat:repeat-x;">
<div id="container" class="collectionContainer collectionContainerLightbox_4x5">
<!--
************************************************************
Include Code Snippet Section Container
Date: 2011-03-29
Author: Zetcom AG, ks
************************************************************
-->
<div id="brux_header">
<h1><a href="#" title="KMKG" style="background-image:url({% static 'sketchy/eMuseumPlus.jpg' %});"><span>KMKG</span></a></h1>
<ul class="links primary-links">
<li class="menu-644 first"><a href="#" title="">Cinquantenaire Museum</a></li>
<li class="menu-646"><a href="#" title="">Museums of the Far East</a></li>
<li class="menu-645"><a href="#" title="">Halle Gate</a></li>
<li class="menu-651 last"><a href="#" title="">Musical Instruments Museum</a></li>
</ul>
<div id="block-locale-0">
<ul>
<li><a href="#">Français</a></li>
<li><a href="#">Nederlands</a></li>
<li><a class="active" href="#">English</a></li>
</ul>
</div>
<div id="brux_block_menu">&nbsp;</div>
</div><!--end brux_header -->
<div id="brux_header_print">
  <img src="{% static 'sketchy/resources/sketchy-index_files/sketchy-highlight_data/eMuseumPlus_003.jpeg' %}" width="700" height="30">
<h1>Carmentis</h1>
</div><!--end brux_header_print -->


<h1 id="title">
Collection	</h1>
<div class="cleaner"></div>
</div> <!-- id=header -->
<!--
************************************************************
Include Code Snippet Section Container 2
Date: 2009-01-12
Author: Zetcom AG, ks
************************************************************
-->
</div><!-- id=brux_box_navig_header -->
<!--
************************************************************
End Include Container 2
************************************************************
-->
<div id="content" class="contentContainer" style="margin:auto;clear:both;padding:40px;width:940px;float:none">
<!--
************************************************************
Include Code Snippet Section Content
Date: 2011-03-19
Author: Zetcom AG, ks
************************************************************
-->
<h1>Highlights</h1>
<!--**********************************************************
End Include Content
************************************************************
-->

    <div id="search">
	            <div class="pagination" style="border-bottom:1px solid #CCC;padding-bottom:14px;">
                <span class="step-links">
                    {% if items.has_previous %}
                        <a href="?page=1&o={{o}}">&laquo; first</a>  &nbsp; 
                        <a href="?page={{ items.previous_page_number }}&o={{o}}">previous</a>
                    {% endif %}

                    <span class="current" style="margin-left:10px;margin-right:10px;">
                        Page {{ items.number }} of {{ items.paginator.num_pages }}.
                    </span>

                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}&o={{o}}">next</a> &nbsp;
                        <a href="?page={{ items.paginator.num_pages }}&o={{o}}">last &raquo;</a>
                    {% endif %}

             &nbsp;        {{items.paginator.count}} items <a href="{% url 'animation_index' %}">Show all animations</a>
                </span>
            </div>
    </div>
{% for item in items %}
	  <div id="collectionLightbox" style="float:left;width:140px;height:210px;border-bottom:1px solid #CCC;margin-left:16px;">
<div id="lightbox_4x5" class="lightbox">
<div class="lightboxGroupItem" style="width:auto;border:0;">
<ul id="lightboxItem-0" class="lightboxItem" style="margin-right:0px;margin-left:20px;">	<li class="lightboxImageListItem">
<div class="lightboxImgInnerContainer">
<div class="listImg"><a href="{% url 'item' item.id %}"><img src="{{item.contour.url}}" title="{{item.objectTitle}}" alt="{{item.objectTitle}}" style="height:120px;width:auto;"></a></div>
</div>
</li>
<li class="lightboxTextListItem">
<div class="lightboxTextInnerContainer">
<ul class="listText">
<li><h3><a href="{% url 'item' item.id %}"><span class="tspTitleLink">{{item.objectName}}</span></a></h3></li>
<!--Title or Object Name short-->
<li class="inventoryNb"><span class="tspValue">{{item.id}}</span><span class="tspEnd"></span></li>
<!--Inventory Nb.-->
</ul>
</div>
</li>
</ul>



</div>
</div>
</div> <!-- id=content -->
        {% endfor %}
<br style="clear:both;" />

    <div class="pagination" style="margin-top:40px;">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page=1&o={{o}}">&laquo; first</a> &nbsp; 
                <a href="?page={{ items.previous_page_number }}&o={{o}}">previous</a> &nbsp; 
            {% endif %}

            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}&o={{o}}">next</a> &nbsp;
                <a href="?page={{ items.paginator.num_pages }}&o={{o}}">last &raquo;</a> &nbsp;
            {% endif %}

            {{items.paginator.count}} items <a href="{% url 'animation_index' %}">Show all animations</a>
        </span>
    </div>



<!--
************************************************************
Include Code Snippet Section Container3
Date: 2009-02-16
Author: Zetcom AG, ks
************************************************************
-->
<div class="cleaner"></div>
<div class="bottomspace"></div>
</div><!-- id=brux_innercontainer -->
<!--
************************************************************
End Include Container 3
************************************************************
-->
</div> <!-- id=container -->
<div id="footer"> <!--
************************************************************
Include Code Snippet Section Container
Footer
Date: 2011-04-05
Author: Zetcom AG, ks
************************************************************
-->
<div id="footer-inner">
<div id="carmentis-footer">
<ul>
<li class="leaf"><a title="Copyright" href="#">Copyright (left?)</a></li>
</ul>
</div>
<div id="carmentis_disclaimer">The information published on this site is
 of an informative value only and constitutes a continuous work in 
progress. More information is available <a href="#">here</a>. </div>
<div class="cleaner"></div>
</div>
<!--
************************************************************
End Include Footer
************************************************************
-->
</div>

</body>
</html>

