<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            font-family: sans-serif;
            font-size: 12px;
        }
        th {
            text-align: left;
            text-transform: uppercase;
            font-size: 10px;
        }
        tr {
            vertical-align: top;
        }
        .pagination {
            display: inline-block;
        }
        #search {
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div id="search">
        <form method="get">
            <input type="text" autofocus name="s" placeholder="search" value="{{s}}" />
            <div class="pagination">
                <span class="step-links">
                    {% if items.has_previous %}
                        <a href="?page=1&o={{o}}">&laquo; first</a>
                        <a href="?page={{ items.previous_page_number }}&o={{o}}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ items.number }} of {{ items.paginator.num_pages }}.
                    </span>

                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}&o={{o}}">next</a>
                        <a href="?page={{ items.paginator.num_pages }}&o={{o}}">last &raquo;</a>
                    {% endif %}

                    {{items.paginator.count}} items
                </span>
            </div>

        </form>
    </div>
    <table>
        <thead>
            <th>inventory</th>
            <th>name</th>
            <th>title</th>
            <th>culture</th>
            <th>geography</th>
            <th>dating</th>
            <th>material</th>
            <th>technique</th>
            <th>dimensions</th>
        </thead>
        <tbody>{% for item in items %}
            <tr>
                <td><a href="{% url 'item' item.id %}">{{item.inventoryNb}}</a></td>
                <td>{{item.objectName}}</td>
                <td>{{item.objectTitle}}</td>
                <td>{{item.objectCulture}}</td>
                <td>{{item.geography}}</td>
                <td>{{item.dating}}</td>
                <td>{{item.material}}</td>
                <td>{{item.technique}}</td>
                <td>{{item.dimensions}}</td>
            </tr>
        {% endfor %}</tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page=1&o={{o}}">&laquo; first</a>
                <a href="?page={{ items.previous_page_number }}&o={{o}}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}&o={{o}}">next</a>
                <a href="?page={{ items.paginator.num_pages }}&o={{o}}">last &raquo;</a>
            {% endif %}

            {{items.paginator.count}} items
        </span>
    </div>

</body>
</html>

