{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Application: eMuseumPlus -->
<!-- Page: ResultDetailView -->
<!-- Generated: Thu Oct 10 14:01:58 CEST 2019 -->
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta name="generator" content="Tapestry Application Framework, version 3.0.2">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{item.objectName}}</title>
<!-- Version: 5.5.1.43 -->
<!-- $EMP$MODULE name="collection" -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="gwt:property" content="locale=fr_US">
<link rel="stylesheet" type="text/css" href="{% static 'sketchy/resources/sketchy-index_files/sketchy-highlight_data/eMuseumPlus.css' %}">
<link rel="stylesheet" type="text/css" href="trompette_files/eMuseumPlus_002.css" media="print">
<link rel="icon" href="https://carmentis.be/eMP/eMuseumPlus?service=WebAsset&amp;url=/favicon.ico&amp;contentType=image/x-icon">
<link rel="shortcut icon" href="https://carmentis.be/eMP/eMuseumPlus?service=WebAsset&amp;url=/favicon.ico&amp;contentType=image/x-icon">
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="?service=WebAsset&amp;url=css/eMuseumPlus_ie.css&amp;contentType=text/css" />
<![endif]-->
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="?service=WebAsset&amp;url=css/eMuseumPlus_ie6.css&amp;contentType=text/css" />
<![endif]-->
<script type="text/javascript" async="" src="trompette_files/ga.js"></script><script src="trompette_files/eMuseumPlus" type="text/javascript"></script>
<script src="trompette_files/eMuseumPlus_002" type="text/javascript"></script>
<script src="{% static 'sketchy/resources/sketchy-index_files/sketchy-highlight_data/jquery-3.js' %}"></script>
<!-- Fancybox -->
<link rel="stylesheet" href="trompette_files/jquery.css">
<script src="trompette_files/jquery.js"></script>
<!-- Font Awesome 5 (weird new features) -->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
<!-- Font Awesome 4 -->
<link rel="stylesheet" id="font-awesome-css" href="trompette_files/font-awesome.css" type="text/css" media="all">
</head>
<body style="background-image:url({% static 'sketchy/eMuseumPlus-tile.jpg' %});background-repeat:repeat-x;">
<div id="animation-data" style="display: none">
{% for animation in item.animations.all %}
<a class="animation" href="{{ animation.get_relative_url }}">{{animation.id}} ANIMATION!!!</a>
{% endfor %}
</div>

<div id="container" class="collectionContainer collectionContainerDetailView">
<!--
************************************************************
Include Code Snippet Section Container
Date: 2011-03-29
Author: Zetcom AG, ks
************************************************************
-->
<div id="brux_header">
<h1><a href="#" title="KMKG" style="background-image:url({% static 'sketchy/eMuseumPlus.jpg' %});"><span>KMKG</span></a></h1>
<ul class="links primary-links">
<li class="menu-644 first"><a href="#" title="">Musée du Cinquantenaire</a></li>
<li class="menu-646"><a href="#" title="">Musées d'Extrême-Orient</a></li>
<li class="menu-645"><a href="#" title="" class="active">Porte de Hal</a></li>
<li class="menu-651 last"><a href="#" title="">Musée des Instruments de Musique</a></li>
</ul>
<div id="block-locale-0">
<ul>
<li><a class="active" href="#">Français</a></li>
<li><a href="#">Nederlands</a></li>
<li><a href="#">English</a></li>
</ul>
</div>
<div id="brux_block_menu">&nbsp;</div>
</div><!--end brux_header -->
<div id="brux_header_print">
<img src="trompette_files/eMuseumPlus_003" height="30" width="700">
<h1>Carmentis</h1>
</div><!--end brux_header_print -->
<div id="brux_innercontainer">
<div id="brux_box_navig_header">
<div id="header">

<!--
************************************************************
End Include Header
************************************************************
-->
<h1 id="title">
Collection	</h1>
<div class="cleaner"></div>
</div> <!-- id=header -->
<!--
************************************************************
Include Code Snippet Section Container 2
Date: 2009-01-12
Author: Zetcom AG, ks
************************************************************
-->
</div><!-- id=brux_box_navig_header -->
<!--
************************************************************
End Include Container 2
************************************************************
-->
<div id="content" class="contentContainer">
<!--
************************************************************
Include Code Snippet Section Content
Date: 2011-03-19
Author: Zetcom AG, ks
************************************************************
-->
<h1>Highlights</h1>
<!--**********************************************************
End Include Content
************************************************************
-->
<div class="contextMenuContainer">

<div class="cleaner"></div>
</div>
<div id="collectionDetail" class="detail">
<dl id="collectionDetailItem" class="detailItem">
<dt class="detailImg">
  <img src="{{item.image.url}}" style="width:220px;height:auto;">
</dt>
<dd class="detailCaption">
<ul id="detailCaptionData">
<li class="collectionName"><span class="tspPrefix">Collection</span><span class="tspValue">{{item.collectionName}}</span><span class="tspEnd"></span></li><!--Collection-->
<!--Research Project-->
<li class="inventoryNb">{{item.inventoryNb}}<span class="tspPrefix">Numéro d'inventaire</span><span class="tspValue"></span><span class="tspEnd"></span></li><!--Inventory Nb.-->
<div class="objectName tooltip"><span class="tspPrefix">Nom de l'objet</span><span class="tspValue">{{item.objectName}}</span><span class="tspEnd"></span>
<!--Culture-->
<div class="geography tooltip"><span class="tspPrefix">Géographie</span><span class="tspValue"><span class="iconDescription tooltiptext">{{item.geography}}</span><span class="tspEnd"></span><!--Geography--></div>
<li class="dating"><span class="tspPrefix">Datation</span><span class="tspValue">{{item.dating}}</span><span class="tspEnd"></span></li><!--Dating-->
<!--Period-->
<div class="material tooltip"><span class="tspPrefix">Matière</span><span class="tspValue"><span class="tooltip">{{item.material}}</span></span><span class="tspEnd"></span><!--Material--></div>
<li class="dimensions"><span class="tspPrefix">Dimensions</span><span class="tspValue">{{item.dimensions}}</span><span class="tspEnd"></span></li><!--Dimensions-->
<li class="legalRightOwner"><span class="tspPrefix">Propriétaire</span><span class="tspValue">{{item.legalRightOwner}}</span><span class="tspEnd"></span></li><!--Legal right owner-->
<!-- Partner museum for Debug -->
<li><button id="viewScreen">View animations</button>
</li>
</ul>
</dd>
</dl>
</div>
</div> <!-- id=content -->
<!--
************************************************************
Include Code Snippet Section Container3
Date: 2009-02-16
Author: Zetcom AG, ks
************************************************************
-->
<div class="cleaner"></div>
<div class="bottomspace"></div>
</div><!-- id=brux_innercontainer -->
<!--
************************************************************
End Include Container 3
************************************************************
-->
</div> <!-- id=container -->
<div id="footer"> ﻿<!--
************************************************************
Include Code Snippet Section Container
Footer
Date: 2011-04-05
Author: Zetcom AG, ks
************************************************************
-->
<div id="footer-inner">
<div id="carmentis-footer">
<ul>
<li class="leaf"><a title="Copyright" href="http://www.kmkg-mrah.be/fr/copyright" target="_blank">Copyright</a></li>
</ul>
</div>
<div id="carmentis_disclaimer">Les informations publiées sur ce site ont
 une valeur informative et constituent un travail en cours. Plus 
d’informations sont disponibles <a href="http://www.kmkg-mrah.be/node/2068" target="_blank">ici</a>.</div>
<div id="block-block-18">
<div class="content"><a href="http://www.belspo.be/" target="_blank"><img src="trompette_files/eMuseumPlus.png"></a>
<a href="http://www.belgium.be/" target="_blank"><img src="trompette_files/eMuseumPlus_002.png"></a></div>
</div>
<div class="cleaner"></div>
</div>
<!--
************************************************************
End Include Footer
************************************************************
-->
</div>
<div id="envback" style="position:absolute;top:20px;left:20px;font-size:60px;"><button id="back">Back</button></div>

  <div id="screen" style="width:80%;height:90%;position:absolute;top:0px;left:0px;z-index:100000;background-color:rgba(255,255,255,0.7); border:1px solid black; margin-left:10%; margin-top:4%;"><div id="screen_target" style="margin:10px;width:98%;height:95%;background-repeat:no-repeat; background-size:contain; background-position: center;"></div><div id="buttons" style="position:absolute;bottom:0px;width:100%;text-align:center;margin-bottom:20px;"><button id="read">Discover the instrument</button> <button id="next">View animations</button></div></div>


	<script>
	  var animations = [];
	  var animation_links = document.querySelectorAll("#animation-data .animation");
	  for (var i=0; i<animation_links.length; i++) {
	    animations.push(animation_links[i].href);
	  }
	  console.log("animations", animations);
	  var images = new Array();
  	  images.push("{{item.contour.url}}");
	  images.push("{{item.image.url}}");
  	  images.push("{% url 'item_qr' item.id %}");
	  var curImage = 0;
	  var curAnimation = 0;
	  var isRunning = false;
	  
	  $( document ).ready(function() {

	  $("#back").click(function(){
	  window.location = "/";
	  //  window.history.back();
	  });
	  $("#read").click(function(){
	    $("#screen").hide();
	  });
	  $("#viewScreen").click(function(){
	    $("#screen").show();
	  });
	  anim();
	  isRunning = true;
	  $("#next").click(function(){
	    framesAnim();
	  });


	function framesAnim(){
	if(animations.length > 0){
	$('#screen_target').css("background-image","none");
	$('#screen_target').css("background-image","none");

	  var strhtml = '<iframe src="'+animations[curAnimation]+'?" style="width:100%;height:100%;"></iframe>';
	  $('#screen_target').html(strhtml);
          if((curAnimation)==(animations.length -1)){
	    curAnimation = 0;
	    $("#next").text("View animations");
		}else{
       	    curAnimation++;
	    $("#next").text("Next animation");
		}
	}}
						  
	  function anim(){
	    msPause = 2000;
            $('#screen_target').css("background-image", "url("+images[curImage]+")");
            if((curImage)==(images.length -1)){
	     curImage = 0;
		}else{
	     curImage++;
		}
	  /*
	  setTimeout(function () {
		    anim();
		}, msPause);
	  */
	  }

	//anim();	
	});	  
	  
	</script>
</body></html>
