<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<img src="{% url 'item_qr' item.id %}" />
<img src="{{item.image.url}}" />
<a href="{% url 'item_pdf' item.id %}"><img src="{{item.contour.url}}" border="0" /></a>
<div>
	{{item.objectName}}<br>
	pdf</a>
</div>

</body>
</html>