<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>scanner</title>
<style type="text/css">
	body {
		overflow: none;
	}
	#content {
		position: absolute;
		left: 0; right: 0; bottom: 0; top: 0;
	}
	#iframe {
		position: absolute;
		left: 0; right: 0; bottom: 0; top: 0;
		z-index: 0;
	}
	#iframe iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
	#label {
		position: absolute;
		left: 0; top: 0;
		z-index: 1;
		background: #00000088;		
	}
</style>
</head>
<body>
<div id="content">
<div id="iframe">
	<iframe id="the_iframe" src=""></iframe>
</div>
</div>
<script>
var POLL_TIME = 1000,
	iframe = document.getElementById("the_iframe"),
	latest_url;

function now () {
	var d = new Date();
	return ""+d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate()+"-"+d.getHours()+"-"+d.getMinutes()+"-"+d.getSeconds()+"-"+d.getMilliseconds();
}
async function poll () {
	try {
		var resp = await fetch('{% url 'animation_latest' %}' + "?time=" + now()),
			data = await resp.json();
		// console.log("data", data);
		if (latest_url != data.poll_url) {
			// console.log("settings view url", data.poll_url);
			iframe.src = latest_url = data.poll_url;
		}
	} catch (e) {
		console.log("error", e);
	}
	window.setTimeout(poll, POLL_TIME);
}
window.setTimeout(poll, POLL_TIME);

</script>
</body>
</html>
