<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<p>
{% if default %}
Current default settings<br>
({{default.left}},{{default.top}}) ({{default.right}},{{default.bottom}})<br>
{% else %}
No default settings.
{% endif %}
</p>
&gt; <a href="{% url 'settings_new' %}">New settings</a><br>
</body>
</html>