<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		#image {
			position: relative;
		}
		#frame {
			position: absolute;
			border: 3px solid aqua;
			left: 0; top: 0; width: 10px; height: 10px;
			pointer-events: none;
		}
	</style>
</head>
<body>
	<form method="get" action="">
		<div id="image">
			<input type="image" name="c" src="{{cell.original.url}}"/>
			{% if left %}<input type="hidden" name="left" value="{{left}}"/>{% endif %}
			{% if top %}<input type="hidden" name="top" value="{{top}}"/>{% endif %}
			{% if right %}<input type="hidden" name="right" value="{{right}}"/>{% endif %}
			{% if bottom %}<input type="hidden" name="bottom" value="{{bottom}}"/>{% endif %}
			<div id="frame" style="left: {{left}}px; top: {{top}}px; width: {{width}}px; height: {{height}}px"></div>
		</div>
		<input type="submit" name="_submit" value="save" />
	</form>
</body>
</html>